*.h~
*.cpp~
*.c~
*.o
*.exe
.metadata
.cproject
.project
.settings
*.db
README.html
docs/*
*.dump

# build directory
build*/

# CMake
build*/
__pycache__/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# VS Code Directory
.vscode/

# Intellij idea
.idea/*

# Other
tags
/.gdb_history
/log
*.autosave
/CMakeLists.txt.user
/.cache
